@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    -webkit-tap-highlight-color: transparent;
    --highlight: #FE6313;
}

.sphe-editing {
    background-image: url('./images/Sphe\ Editing.png');
    background-color: #000000;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center; /* Add this line to center the background image */
    transition: background-size 0.3s ease-in-out; /* Add this line for smooth scaling */
}

.sphe-portfolio {
    background-image: url('./images/Sphe\ Portfolio.png');
    background-color: #161616;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center; /* Add this line to center the background image */
    transition: background-size 0.3s ease-in-out; /* Add this line for smooth scaling */
}

.sphe-editing:hover {
    background-size: 95%;
}

.sphe-portfolio:hover {
    background-size: 95%;
}

.mask {
  -webkit-mask-image: linear-gradient( white 50%, white 50%);
  mask-image: linear-gradient(white 50%, white 50%);
}